@model IEnumerable<CodeFirst.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="text-center">
    <form method="post" asp-controller="emp" asp-action="ExportDataToFile">
        <input type="submit" value="Export to CSV" />
        </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
             <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParam">  @Html.DisplayNameFor(model => model.FirstName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.LastSortParam">  @Html.DisplayNameFor(model => model.LastName)</a>
</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParam">  @Html.DisplayNameFor(model => model.EmailAddress) </a>
</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParam">  @Html.DisplayNameFor(model => model.Phone) </a>
</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParam">  @Html.DisplayNameFor(model => model.Address) </a>
</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParam">   @Html.DisplayNameFor(model => model.Departments) </a>
</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParam"> @Html.DisplayNameFor(model => model.Gender) </a>
</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.SalSortParam">    @Html.DisplayNameFor(model => model.Salary)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departments.Department_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
   
</table>
